div#view_container {
    padding-top: 0;
}
#particles-js {
    top: 0;
    left: 0;
}
.landing.first {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #fff;
    background-color: #303b82;
}
@media only screen and (max-width: 750px) {
    .landing.first {
        align-items: inherit;
        padding-top: 30vh;
   }
}
.landing.first * {
    margin: 0;
    font-family: Montserrat, sans-serif;
}
.landing.first .alphanode {
    z-index: 1;
}
.landing.first .alphanode .main {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.landing.first .alphanode .year {
    text-align: right;
    color: #92c9ff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 500px) {
    .landing.first .alphanode {
        transform: scale(0.7) !important;
   }
}
@media only screen and (max-width: 600px) {
    .landing.first .alphanode {
        transform: scale(0.8);
   }
}
.landing.first .register-result {
    display: block;
    position: absolute;
    right: 50%;
    bottom: 50px;
    transform: translate(50%, 0);
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #92c9ff;
    border: 1px solid #92c9ff;
    border-radius: 8px;
    transition: all 0.2s;
    z-index: 1;
}
.landing.first .register-result:hover {
    color: #fff;
    background-color: #22114f;
    border-color: #22114f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 750px) {
    .landing.first .register-result {
        bottom: 30vh;
   }
}
h1.heading {
    font-weight: normal;
    font-size: 2rem;
    font-family: montserrat, sans-serif;
    text-align: center;
}
.info {
    display: block;
    padding: 60px 16% 80px 16%;
}
.info > p {
    text-align: justify;
    letter-spacing: 0.5px;
}
@media only screen and (max-width: 1025px) {
    .info {
        padding: 60px 10%;
   }
}
.info dl {
    padding: 20px 0;
}
.info dt, .info dd {
    display: block;
    width: 100%;
    margin: 0;
    line-height: 1.8;
}
.info dt {
    font-size: 1.01rem;
    font-family: montserrat, sans-serif;
    font-weight: bold;
}
.info dt::before {
    content: '\276F';
    padding: 0 10px;
}
.info dd {
    padding: 0 0 0 60px;
    margin: 0 0 20px 0;
    line-height: 1.5;
}
.events {
    display: block;
    position: relative;
    padding: 60px 4.6%;
    background-color: #f1ebfa;
}
@media only screen and (max-width: 300px) {
    .events {
        padding: 60px 0;
   }
    .events div.event-container div.event {
        width: 100vw;
        margin: 10px 0;
        border-radius: 0;
   }
}
.events::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 4vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: #fff;
}
.events::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4vw;
    clip-path: polygon(0 100%, 100% 100%);
    background-color: #fff;
}
.events .heading {
    margin: 50px 8%;
    font-size: 1.8rem;
}
.events .event-container .row {
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    height: auto;
    padding: 0 0 50px 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
}
@media only screen and (max-width: 920px) {
    .events .event-container .row {
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        justify-content: flex-start;
        flex-wrap: nowrap;
   }
    .events .event-container .row div.event {
        flex: 0 0 auto;
        width: 89%;
        padding: 30px 40px 40px 40px;
   }
}
.events .event-container .row .event {
    display: flex;
    width: 90%;
    min-width: 250px;
    max-width: 305px;
    height: 340px;
    margin: 10px 10px;
    padding: 30px 50px 40px 50px;
    flex-direction: column;
    align-items: center;
    background-color: #f9f6fd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.events .event-container .row .event:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.events .event-container .row .event .name {
    width: 100%;
    color: #22114f;
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: montserrat, sans-serif;
    text-align: left;
}
.events .event-container .row .event .brief {
    margin: 10px 0 5px 0;
    text-align: left;
    font-size: 1rem;
    letter-spacing: 0;
    width: 100%;
}
.events .event-container .row .event .tagline {
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
    font-size: 0.82rem;
}
.events .event-container .row .event .specs {
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
}
.events .event-container .row .event .button {
    display: block;
    position: relative;
    width: 75%;
    min-width: 123px;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    border-radius: 8px;
    color: #303b82;
    font-family: montserrat, sans-serif;
    text-align: center;
    border: 1px solid #303b82;
    transition: all 0.2s;
    cursor: pointer;
}
.events .event-container .row .event .button:not([class*='lock']):hover {
    color: #fff;
    background-color: #22114f;
    border-color: #22114f;
}
.events .event-container .row .event .button:not([class*='lock']):hover.lock::before {
    filter: brightness(0) invert(1);
}
.events .event-container .row .event .button.lock::before {
    content: url('/assets/images/icons/lock.png');
    display: inline-block;
    position: relative;
    top: 1px;
    width: 20px;
    height: 20px;
}
.events .event-container .row .event .button .countdown {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    padding: 5px 10px 8px 10px;
    font-size: 0.9em;
    color: #fff;
    background-color: #303b82;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
}
.sponsors {
    padding: 60px 8%;
    margin: 0 0 60px 0;
}
.sponsors .logo-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sponsors .logo-container .logo {
    display: block;
    height: 100px;
    margin: 20px;
}
.sponsors .logo-container .logo img {
    display: block;
    height: 100%;
}
