div#view_container {
    padding-top: 0;
}
.error.first {
    min-height: 100vh;
    padding: 50px;
    color: #fff;
    background-color: #303b82;
}
.error.first * {
    margin: 0;
    font-weight: normal;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
.error.first h1 {
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.error.first h2 {
    font-size: 1.3em;
    margin-top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.error.first img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40vw;
    max-width: 200px;
    margin: 40px 0;
}
.error.first p {
    padding: 0 10px;
}
.error.first p q {
    display: block;
    width: 100%;
    margin: 20px 0;
    font-style: italic;
}
.error.first .buttons {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.error.first .buttons a {
    margin: 10px;
    padding: 8px 20px;
    font-size: 0.8rem;
    color: #92c9ff;
    border: 1px solid #92c9ff;
    border-radius: 8px;
    transition: all 0.2s;
}
.error.first .buttons a:hover {
    color: #fff;
    background-color: #22114f;
    border-color: #22114f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 750px) {
    .error.first .buttons a {
        padding: 10px 14px;
        line-height: 1.5;
   }
}
@media only screen and (max-width: 750px) {
    .error.first {
        padding-left: 10px;
        padding-right: 10px;
   }
    .error.first h1 {
        font-size: 4em;
   }
    .error.first h2 {
        font-size: 1em;
   }
    .error.first p {
        font-size: 1em;
   }
}
